<%= cl_image_tag space.photo, class: "info-window-img" %>

<div class="info-window-details">
  <h6><%= space.address %></h6>
  <p><%= space.city %></p>
  <div class="flex space-between align-items-center">
  <p><%= space.postcode %></p>
  <p><%= humanized_money_with_symbol(space.price) %></p>
  </div>
  <a href="/spaces/<%= space.id %>/bookings/new" class="stretched-link"></a>
</div>
