

<div class="mt-2 mb-2">
  <div class="d-none d-md-block filters m-l-26 m-r-26">
  <%= form_tag spaces_path, method: :get, class: "form-inline" do %>
  <%= label_tag :location, "City"%>
  <%= select_tag :location, options_for_select(["London", "Bath", "Brighton", "Bristol", "Cambridge" ], params[:location]), class: "form-control ml-2 mr-4" %>
  <%= label_tag :query1, "Check in" %>
  <%= date_field_tag :query1,
  params[:query1], class: "form-control ml-2 mr-4" %>
  <%= label_tag :query2, "Check out" %>
  <%= date_field_tag :query2,
  params[:query2], class: "form-control ml-2 mr-2" %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  </div>

  <div class="d-block d-md-none filters m-l-26 m-r-26">
  <%= form_tag spaces_path, method: :get, class: "form-inline" do %>
  <%= label_tag :location, "City"%>
  <%= select_tag :location, options_for_select(["London", "Bath", "Brighton", "Bristol", "Cambridge" ], params[:location]), class: "form-control mb-2" %>
  <%= label_tag :query1, "Check in" %>
  <%= date_field_tag :query1,
  params[:query1], class: "form-control mb-2" %>
  <%= label_tag :query2, "Check out" %>
  <%= date_field_tag :query2,
  params[:query2], class: "form-control mb-2" %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>




<div class="main-container">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 cards">
      <% @spaces.each do |space| %>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
            <%= cl_image_tag space.photo, class: "card-img" %>
          </div>

          <div class="col-xs-8 col-sm-8 col-md-12 col-lg-7">
            <div class="card-body">
              <h5 class="card-title"><%= space.address %></h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><%= link_to "details", space_path(space), class: "stretched-link details" %></p>
              <p class="card-text"><small class="text-muted"><p>Daily price: <%= humanized_money_with_symbol(space.price) %></p></small></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="d-none d-md-block col-lg-5" id="map" data-markers="<%=
    @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>



</div>
