<h2 class="m-t-10 m-l-15">List a Space</h2>

<div class="page-wrapper">


  <div class="page-content">
  <%= simple_form_for @space do |f| %>
    <%= f.input :address, error: "address can't be blank" %>
    <%= f.input :city, error: "city can't be blank" %>
    <%= f.input :postcode, error: "postcode can't be blank" %>
    <%= f.input :number_of_people, error: "number of people can't be blank" %>
    <%= f.input :price_cents, error: "daily price can't be blank" %>
    <%= f.input :description, error: "description can't be blank" %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-success btn-lg btn-block m-b-15" %>
  <% end %>
</div>

</div>
