<div class="container">

  <h2 class="bold m-t-30 m-b-20"><%= @space.address %></h2>
  <div class="row justify-content-center">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
      <div class="img-show" style="background-image: url(<%= @space.photo %>)"></div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="reservation-form p-l-20 p-r-20 justify-content-center">
        <h5 class="bold m-t-30 m-b-30"><%= @space.address %></h5>

        <%= form_with(model: [@space, @booking], local: true) do |f| %>
        <%= label_tag :check_in, "Check in" %>
        <%= f.date_field :check_in, value: @query1, class: "form-control" %>
        <%= label_tag :check_out, "Check out", class: "m-t-25" %>
        <%= f.date_field :check_out, value: @query2, class: "form-control" %>
        <%= submit_tag "Reserve", class: "btn btn-primary btn-lg btn-block m-t-20 m-b-30" %>
        <% end %>

      </div>
    </div>

  </div>
  <div class="space-details m-t-30">
    <p><%= @space.description %></p>
    <p class="m-t-20"><%= @space.address %>, <%= @space.city %>, <%= @space.postcode %></p>
    <p class=" bold m-t-20"><%= @space.number_of_people %> People</p>
    <p class="bold m-t-20 m-b-30">Daily price: <%= humanized_money_with_symbol(@space.price) %></p>
  </div>

</div>






