<h2 class="m-l-15 m-t-10 ">Your Bookings</h1>

  <div class="my-bookings-container">

    <% if @bookings.blank? %>
    <h4>You have no bookings yet.</h4>

    <% else %>

      <div class="dropdown m-b-20 m-r-20 text-align-right">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by
        </button>
        <div class="dropdown-menu dropdown-menu-right sort" aria-labelledby="dropdownMenuButton">
          <div class="sort m-t-15 m-l-10 m-r-10">
            <i class="fas fa-sort-amount-down-alt"></i>
            <%= link_to "Booking date: ASC", sort: :asc %>
          </div>
          <div class="sort m-t-15 m-b-15 m-l-10 m-r-10">
            <i class="fas fa-sort-amount-down"></i>
            <%= link_to "Booking date: DESC", sort: :desc %>
          </div>

         <!--  <a class="dropdown-item" href="#"> desc</a> -->
        </div>
      </div>

      <% @bookings.each do |booking| %>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img src="<%= booking.space.photo %>" class="card-img" alt="...">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="card-body">
              <div class="card-state flex justify-content-space-between">
                <h3 class="card-title bold">Booking #<%= booking.id %></h3>
                <h5><span class="booking-badge badge badge-warning"><%= booking.state %></span></h5>
              </div>


              <div class="flex">
                <h5><%= booking.space.address %>,</h5>
                <h5 class="m-l-10"><%=booking.space.postcode%>,</h5>
                <h5 class="m-l-10"><%=booking.space.city%></h5>
              </div>

              <p class="card-text"><strong>Check-in:</strong> <%= booking.check_in %><strong>  Check-out:</strong> <%= booking.check_out %></p>
              <p class="card-text">Booked: <%=booking.created_at.strftime("%b %d, %Y")%></p>

            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>

  <script>

    const changeBadgeColor = () => {

      const badges = document.querySelectorAll('.booking-badge');

      badges.forEach(function(badge) {
        if(badge.innerHTML === "paid") {
          badge.classList.remove("badge-warning");
          badge.classList.add("badge-success");
        }
      })
    }

    changeBadgeColor();

  </script>










