<div class="banner">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="search-form p-l-25 p-r-25 p-b-25">
        <h1>Workspaces on-demand.</h1>

        <%= form_tag spaces_path, method: :get do %>
        <%= label_tag :location, "City"%>
        <%= select_tag :location, options_for_select(["London", "Bath", "Brighton", "Bristol", "Cambridge" ]), class: "form-control" %>
        <%= label_tag :query1, "Check in", class: "m-t-25" %>
        <%= date_field_tag :query1,
        params[:query1],
        class: "form-control" %>
        <%= label_tag :query2, "Check out", class: "m-t-25" %>
        <%= date_field_tag :query2,
        params[:query2],
        class: "form-control" %>
        <%= submit_tag "Search", class: "btn btn-primary btn-lg btn-block m-t-25" %>
        <% end %>

      </div>

    </div>

  </div>
  <div class="scroll">
    <a  id="link-tutorial" href="#">
      <span class="fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x white"></i>
        <i class="fas fa-chevron-circle-down fa-stack-2x blue"></i>
      </span>
    </a>
  </div>

</div>

<div class="tutorial m-t-50 m-b-50">
  <h2 class="bold m-b-15">Pay as you go</h2>
  <div class="row">
    <div class="col-xl-4 step">
      <%= image_tag "dates.png", class: "img-tutorial" %>
      <h6 class="bold">Choose the Dates</h6>
      <p>Select the check-in and check-out dates</p>
    </div>
    <div class="col-xl-4 step">
      <%= image_tag "pay.png", class: "img-tutorial" %>
      <h6 class="bold">Pay Online</h6>
      <p>Secure Payment with Stripe</p>
    </div>
    <div class="col-xl-4 step">
      <%= image_tag "password.png", class: "img-tutorial" %>
      <h6 class="bold">Self Check-in</h6>
      <p>Check yourself in with a password</p>
    </div>
  </div>
</div>
