<div class="container">
  <div class="row py-4">

  <div class="col-md-3"><%= cl_image_tag @booking.space.photo, width: '100%' %></div>

    <div class="col">
      <h1>Checkout summary</h1>
      <p>Booking of <strong><%= @booking.space.address %></strong> for <strong><%= humanized_money_with_symbol @booking.amount %></strong></p>
      <p><%= 1 + (@booking.check_out - @booking.check_in).to_i %><p>
      <button id="pay" class="btn btn-primary">Pay</button>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @booking.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
