<div id="checkout-stage" class="flex p-l-26">
  <h6 class="bold m-r-10">1. Checkout Summary</h6>
  <h6> > </h6>
  <h6 class="m-l-10 m-r-10">2. Booking Payment </h6>
  <h6> > </h6>
  <h6 class="m-l-10">3. Booking Confirmation</h6>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
      <h2 class="m-b-60">Checkout Summary</h2>

      <div class="booking-dates flex space-between m-b-30">
        <div class="check-in-details flex ">
          <div class="dates m-r-10">
            <div>
              <p><%= @booking.check_in.strftime(" %b").upcase %></p>
              <p><%= @booking.check_in.strftime(" %e") %></p>
            </div>
          </div>
          <div class="check-in-times ">
            <div>
              <p><%= @booking.check_in.strftime(" %A") %> check-in</p>
              <p>After 8:00 AM</p>
            </div>
          </div>
        </div>
        <div class="check-out-details flex ">
          <div class="dates m-r-10">
            <div>
              <p><%= @booking.check_out.strftime(" %b").upcase %></p>
              <p><%= @booking.check_out.strftime(" %e") %></p>
            </div>
          </div>
          <div class="check-in-times">
            <div>
              <p><%= @booking.check_out.strftime(" %A") %> check-out</p>
              <p>Before 22:00 PM</p>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <h6 class="bold m-t-30 m-b-30">Things to keep in mind</h6>
      <div class="flex align-items-center m-t-20">
        <img src="https://img.icons8.com/ultraviolet/40/000000/children.png"/>
        <p class="m-l-20">Children friendly (2-12 years)</p>
      </div>
      <div class="flex align-items-center m-t-20">
        <img src="https://img.icons8.com/office/40/000000/no-animals.png"/>
        <p class="m-l-20">No pets</p>
      </div>
      <div class="flex align-items-center m-t-20">
        <img src="https://img.icons8.com/office/40/000000/no-smoking.png"/>
        <p class="m-l-20">No smoking</p>
      </div>
      <div class="flex align-items-center m-t-20 m-b-30">
        <img src="https://img.icons8.com/ultraviolet/40/000000/elevator.png"/>
        <p class="m-l-20">Elevator</p>
      </div>

      <hr>
      <div class="m-b-60">
        <h6 class="bold m-t-30">Additional information</h6>
        <p>The host reserve the right to claim part or all of the Security Deposit to cover any additional charges including:</p>
        <ul>
          <li> extra cleaning (£50)</li>
          <li>unauthorized late check-out (£50)</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="summary-details m-b-30">
        <div class="p-20">
          <div class="row">
            <h6 class="col-md-6 bold"><%= @booking.space.address %></h6>
            <div class="col-md-6"><%= cl_image_tag @booking.space.photo, width: '100%' %></div>
          </div>
          <hr>
          <div class="flex align-items-center p-l-5 p-r-5">
            <i class="far fa-calendar"></i>
            <p class="m-l-10"> <%= @booking.check_in.strftime("%b %d, %Y") %></p>
            <i class="fas fa-arrow-right m-l-10"></i>
            <p class="m-l-10"> <%= @booking.check_out.strftime("%b %d, %Y") %></p>
          </div>
          <hr>
          <div class="flex space-between align-items-center p-l-5 p-r-5">
            <p>£ <%=@booking.space.price %> x <%= @days %> days</p>
            <p>£ <%= @booking.space.price *  @days %></p>
          </div>
          <div class="flex space-between align-items-center p-l-5 p-r-5">
            <p>Service fee</p>
            <p class="m-t-20">£ <%= @service_fee %></p>
          </div>
          <hr>
          <div class="flex space-between align-items-center p-l-5 p-r-5">
            <strong><p>Total</p></strong>
            <strong><p>£ <%= @total_price %></p></strong>
          </div>
          <button id="pay" class="btn btn-primary btn-lg btn-block m-t-30">Proceed to Payment</button>

          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const paymentButton = document.getElementById('pay');
            paymentButton.addEventListener('click', () => {
              const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
              stripe.redirectToCheckout({
                sessionId: '<%= @booking.checkout_session_id %>'
              });
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>








